<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="f1" xsi:type="File" fileName="file1.txt"/>
    <target name="c" xsi:type="Console"  layout="${longdate} ${callsite} ${level} ${message}"/>
  </targets>
  <rules>
    <logger name="*" minLevel="Trace" writeTo="f1,c" />
  </rules>
</nlog>